md-dialog.historyTask-dialog(aria-label="History Task", md-theme="highlight")
    md-toolbar
        .md-toolbar-tools
            h2
                | {{dialog.task.name}}
                = ' - '
                span(translate="apps.priceCrawler.crawlers.{{dialog.task.crawlerType}}")
    md-dialog-content
        .md-dialog-content(layout="column")
            md-table-container
                table(md-table)
                    thead(md-head, md-order='dialog.order', md-on-reorder='dialog.reorder')
                        tr(md-row)
                            th(md-column, md-order-by="date") Data
                            th(md-column, md-order-by="oldPrice") Preço antigo
                            th(md-column, md-order-by="normalPrice") Preço normal
                            th(md-column, md-order-by="promoPrice") Preço promocional
                    tbody(md-body)
                        tr(md-row, ng-repeat='log in dialog.history | reverse')
                            td(md-cell) {{log.date | date: 'dd/MM/yyyy - HH:mm'}}
                            td(md-cell) {{log.data.oldPrice}}
                            td(md-cell) {{log.data.normalPrice}}
                            td(md-cell) {{log.data.promoPrice}}


    md-dialog-actions(layout="row")
        md-button(ng-click="dialog.close()")
            span(translate="common.close")