.md-headline
    span(translate="apps.priceCrawler.tasks")
div(layout="row", layout-align="space-around")
    md-progress-circular(md-mode="indeterminate", ng-show="vm.loadingTasks")
    h3(ng-show="vm.loadingError", translate="apps.priceCrawler.loadingError")
    h3(ng-show="vm.tasks && !vm.tasks.length", translate="apps.priceCrawler.noTask")

div(layout="column", layout-gt-sm="row", layout-wrap)
    div(ng-repeat="task in vm.tasks", flex="100", flex-gt-sm="33", md-theme="highlight")
        md-card
            md-card-title
                md-card-title-text
                    span.md-headline
                        | {{task.name}}
                    span.md-title(translate="apps.priceCrawler.crawlers.{{task.crawlerType}}")
                    span.md-subhead(layout="column")
                        span
                            b
                                span(translate="apps.priceCrawler.url")
                                = ': '
                            a(ng-href="{{task.url}}") {{task.url}}

                        span
                            b
                                span(translate="apps.priceCrawler.lastUpdate")
                                = ': '
                            span(ng-hide="task.lastCrawling", translate="apps.priceCrawler.noUpdate")
                            span(ng-show="task.lastCrawling") {{task.lastCrawling | date:'dd/MM/yyyy - HH:mm'}}

                        span(ng-if="task.lastCrawling", layout="column")
                            span(ng-if="vm.getLastHistoryPrice(task).oldPrice")
                                b
                                    span(translate="apps.priceCrawler.prices.old")
                                    = ': '
                                span {{vm.getLastHistoryPrice(task).oldPrice}}

                            span(ng-if="vm.getLastHistoryPrice(task).normalPrice")
                                b
                                    span(translate="apps.priceCrawler.prices.normal")
                                    = ': '
                                span {{vm.getLastHistoryPrice(task).normalPrice}}

                            span(ng-if="vm.getLastHistoryPrice(task).promoPrice")
                                b
                                    span(translate="apps.priceCrawler.prices.promo")
                                    = ': '
                                span {{vm.getLastHistoryPrice(task).promoPrice}}

            md-card-actions(layout="row", layout-align="end center")
                md-button.md-icon-button(ng-if="task.lastCrawling", ng-click="vm.historyTask($event, task)")
                    md-tooltip(md-direction="top")
                        span(translate="apps.priceCrawler.historyTooltip")
                    md-icon view_list
                md-button.md-icon-button.md-primary(ng-click="vm.updateTask($event, task)")
                    md-tooltip(md-direction="top")
                        span(translate="apps.priceCrawler.editTooltip")
                    md-icon create
                md-button.md-icon-button.md-warn(ng-click="vm.deleteTask($event, task)")
                    md-tooltip(md-direction="top")
                        span(translate="apps.priceCrawler.removeTooltip")
                    md-icon delete_forever


    div(layout="column", layout-align="center center")
        md-button.md-icon-button(ng-click="vm.addTask($event)")
            md-tooltip(md-direction="top")
                span(translate="apps.priceCrawler.addTooltip")
            md-icon add