md-dialog.newTask-dialog(aria-label="Update Task", md-theme="highlight")
    form(name="dialog.updateTaskForm")
        md-toolbar
            .md-toolbar-tools
                h2(translate="apps.priceCrawler.updateTask")
        md-dialog-content
            .md-dialog-content(layout="column")
                div(layout="column", layout-gt-sm="row")
                    md-input-container(flex)
                        label(translate="common.name")
                        input(type="text", name="name", ng-model="dialog.taskData.name", required)
                        div(ng-messages="dialog.updateTaskForm.name.$error")
                            div(ng-message="required", translate="index.errors.required")

                    md-input-container(flex)
                        label(translate="apps.priceCrawler.interval")
                        md-select(type="text", name="interval", ng-model="dialog.taskData.interval", required)
                            md-option(ng-repeat="interval in dialog.intervals", value="{{interval.id}}")
                                span(translate="{{interval.name}}")
                        div(ng-messages="dialog.updateTaskForm.interval.$error")
                            div(ng-message="required", translate="index.errors.required")

                div(layout="column", layout-gt-sm="row")
                    md-input-container(flex)
                        label(translate="apps.priceCrawler.url")
                        input(type="text", name="url", ng-model="dialog.taskData.url", required)
                        div(ng-messages="dialog.updateTaskForm.url.$error")
                            div(ng-message="required", translate="index.errors.required")

                    md-input-container(flex)
                        label(translate="apps.priceCrawler.crawlerType")
                        md-select(type="text", name="crawlerType", ng-model="dialog.taskData.crawlerType", required)
                            md-option(ng-repeat="crawler in dialog.crawlers", value="{{crawler.id}}")
                                span(translate="{{crawler.name}}")
                        div(ng-messages="dialog.updateTaskForm.crawlerType.$error")
                            div(ng-message="required", translate="index.errors.required")

                div
                    md-checkbox(ng-model="dialog.taskData.notifyLowerPrice", aria-label="Notify lower price")
                    span(translate="apps.priceCrawler.notifyLowerPrice")

        md-dialog-actions(layout="row")
            md-button.md-raised(ng-click="dialog.cancel()")
                span(translate="common.cancel")
            md-button.md-raised.md-primary(ng-click="dialog.update()")
                span(translate="common.update")