div(layout="column", layout-gt-sm="row", layout-wrap)
    div(ng-repeat="app in vm.apps", flex="100", flex-gt-sm="33", md-theme="highlight",
        layout="row")
        md-card
            md-card-title
                md-card-title-text
                    span.md-headline(translate="{{app.name}}")
                    span.md-subhead(translate="{{app.description}}")
                md-card-title-media
                    .md-media-md.card-media
                        img(ng-src="{{app.image}}")
            md-card-actions(layout="row", layout-align="end center")
                md-button(ng-href="{{app.path}}")
                    span(translate="apps.common.enter")