// * Vendor
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/vendor/angular-material/angular-material.min.js")
script(type="text/javascript", src="/vendor/angular-material-data-table/dist/md-data-table.min.js")
script(type="text/javascript", src="/vendor/angular-aria/angular-aria.min.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/vendor/angular-messages/angular-messages.min.js")
script(type="text/javascript", src="/vendor/angular-translate/angular-translate.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/ngstorage/ngStorage.min.js")

// * Lib
script(type="text/javascript", src="/js/lib/init.js")

// * Angular app
<!-- build:angular-app -->
// *** App
script(type="text/javascript", src="/js/app/app.module.js")
script(type="text/javascript", src="/js/app/app.routes.js")

// *** Main
script(type="text/javascript", src="/js/app/main/index.controller.js")
script(type="text/javascript", src="/js/app/main/dashboard.controller.js")
// *** Invite
script(type="text/javascript", src="/js/app/invite/invite.controller.js")
// *** Storage
script(type="text/javascript", src="/js/app/storage/storage.service.js")
script(type="text/javascript", src="/js/app/storage/storage.settings.js")
// *** Translate
script(type="text/javascript", src="/js/app/translate/language.service.js")
script(type="text/javascript", src="/js/app/translate/translate.config.js")
script(type="text/javascript", src="/js/app/translate/translate.ptbr.js")
// *** User
script(type="text/javascript", src="/js/app/user/auth.service.js")
script(type="text/javascript", src="/js/app/user/identity.service.js")
script(type="text/javascript", src="/js/app/user/user.resource.js")
script(type="text/javascript", src="/js/app/user/user.service.js")
script(type="text/javascript", src="/js/app/user/profile.controller.js")
// *** Layout
script(type="text/javascript", src="/js/app/layout/theming.config.js")
script(type="text/javascript", src="/js/app/layout/layout.service.js")
// *** Tools
script(type="text/javascript", src="/js/app/tools/notifier.service.js")
script(type="text/javascript", src="/js/app/tools/reverseIterator.filter.js")
script(type="text/javascript", src="/js/app/tools/price.service.js")
script(type="text/javascript", src="/js/app/tools/match.directive.js")
// *** Apps
script(type="text/javascript", src="/js/app/apps/apps.controller.js")
script(type="text/javascript", src="/js/app/apps/apps.settings.js")
// *** Navigation
script(type="text/javascript", src="/js/app/navigation/breadcrumbs.directive.js")

// *** Price Crawler
script(type="text/javascript", src="/js/app/apps/priceCrawler/index/priceCrawlerIndex.controller.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/index/newPriceCrawlerTask.controller.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/index/updatePriceCrawlerTask.controller.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/index/historyPriceCrawlerTask.controller.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/settings/priceCrawler.settings.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/tasks/priceCrawlerTask.resource.js")
script(type="text/javascript", src="/js/app/apps/priceCrawler/tasks/priceCrawlerTask.service.js")

<!-- endbuild -->