div(layout="column", layout-gt-sm="row", layout-wrap)
    div(flex="100", flex-gt-sm="70", flex-offset-gt-sm="15", md-theme="highlight")
        md-card
            md-card-title
                md-card-title-text
                    span.md-headline(translate="invite.title")
                    form(name="vm.inviteForm")
                        md-content(layout-padding, layout="column")
                            md-input-container
                                label(translate="invite.email")
                                input(type="email", name="email", ng-model="vm.email", required, md-no-asterisk)
                                div(ng-messages="vm.inviteForm.email.$error")
                                    div(ng-message="required", translate="index.errors.required")
                                    div(ng-message="email", translate="index.errors.invalidEmail")


            md-card-actions(layout="row", layout-align="end center")
                md-button.md-raised.md-primary(ng-click="vm.sendInvite()")
                    span(translate="common.invite")