.loginBox
  max-width  90%
  width 600px

.avatar-image
  border-radius 50%
  overflow hidden
  width 100%
  height 100%
  margin-top 10px

.card-anchor

.pointer
  cursor pointer

.md-button.fa-btn
  line-height initial

.newTask-dialog
  width 600px
  max-width 90%

.historyTask-dialog
  width 1000px
  max-width 90%
